.x-template-wrapper {
  position: relative;
}

.x-form-wrapper {
  position: relative;
}

.x-template-add-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.x-form-edit-group {
  position: absolute;
  bottom: 0;
  right: 0;
}
