<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New report</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to create a new report?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('yes')">Yes</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('no')">No</button>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="row">
        <div id="div-card-holder" class="col col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-12 col-sm-12 mt-4">
        </div>

        <div class="mt-4 col-xl-3 col-lg-2">
            <div class="btn-group-vertical btn-group-sticky" [hidden]='editorMode | async'>
                <button class="btn btn-secondary btn-medium" (click)="togglePreviewMode()" placement="right" ngbTooltip="Preview report"><i class="fas fa-file-alt" ></i></button>
                <button class="btn btn-primary btn-medium" (click)="copyReportToClipboard()" placement="right" ngbTooltip="Copy report to clipboard"><i class="fas fa-clipboard"></i></button>
                <button class="btn btn-success btn-medium" (click)="newReporting(content)" placement="right" ngbTooltip="New report"><i class="fas fa-plus"></i></button>
            </div>

            <div class="btn-group-vertical btn-group-sticky" [hidden]='!(editorMode | async)'>
                <button class="btn btn-success btn-medium" (click)="saveTemplate()" placement="right" ngbTooltip="Save template"><i class="fas fa-check"></i></button>
                <button class="btn btn-danger btn-medium" (click)="discardTemplate()" placement="right" ngbTooltip="Discard template"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
