<div class="container-fluid">
    <div class="row">
        <div id="div-card-holder" class="col col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-12 col-sm-12 mt-4">
        </div>

        <div class="mt-4 col-xl-3 col-lg-2">
            <div class="btn-group-vertical btn-group-sticky">
                <button class="btn btn-secondary btn-medium"><i class="fas fa-file-alt"></i></button>
                <button class="btn btn-primary btn-medium"><i class="fas fa-file-pdf"></i></button>
                <button class="btn btn-success btn-medium"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
